<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments.html :: head"></head>

<body>
<!-- nav -->
<div th:replace="fragments.html :: nav"></div>
<!-- /nav -->

<!-- main -->
<div th:replace="fragments.html :: main"></div>
<!-- /main -->

<div class="py-4" id="posts-detail">
    <div class="container" id="detail-box">
        <div class="row" >
            <div class="col-md-6" >
                <h2 class="pl-1" th:text="${posts.title}">제목</h2>
            </div>
            <div class="col-md-6 text-right"><a class="btn btn-primary" href="/">목록</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" th:text="|작성자 : ${posts.user.username}|"></div>
                    <div class="card-header" th:text="|작성일 : ${posts.createdAt}|"></div>
                    <div class="card-body h-50">
                        <h4 th:text="${posts.content}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <input id="board-id" type="hidden" th:value="${posts.id}">
                        <input type="text" class="form-control" id="reply-content" placeholder="댓글을 작성해주세요.">
                        <div class="input-group-append">
                            <button th:if="${#authorization.expr('isAuthenticated()')}" id="btn-reply-save" class="btn btn-info" type="button"><i class="fa fa-reply"></i></button>
                            <button th:unless="${#authorization.expr('isAuthenticated()')}"  class="btn btn-info" type="button" onclick="goLogin()"><i class="fa fa-reply"></i></button>
                        </div>
                    </div>
                </div>
                <ul th:each="reply : ${posts.replys}" class="list-group">
                    <li th:id="|reply-${reply.id}|" class="list-group-item d-flex justify-content-between align-items-center">
                        <div th:id="|content-${reply.id}|" th:text="${reply.content}" class="text"> 내용 </div>

                        <div th:id="|editarea-${reply.id}|" class="edit" style="display: none">
                            <textarea th:id="|textarea-${reply.id}|" class="form-control te-edit" rows="1"></textarea>
                        </div>

                        <div class="d-flex">
                            <button th:id="|edit-${reply.id}|" th:if="${#authentication.name} == ${reply.user.username}" th:onclick="|index.editReply(${reply.id})|"
                                    class="badge badge-warning badge-pill">수정</button>&nbsp;&nbsp;
                            <button th:id="|delete-${reply.id}|" th:if="${#authentication.name} == ${reply.user.username}" th:onclick="|index.deleteReply(${posts.id}, ${reply.id})|"
                                    class="badge badge-danger badge-pill">삭제</button>

                            <button th:id="|submit-${reply.id}|" th:if="${#authentication.name} == ${reply.user.username}" th:onclick="|index.updateReply(${posts.id}, ${reply.id})|"
                                    class="badge badge-primary badge-pill" style="display: none">완료</button>&nbsp;&nbsp;
                            <button th:id="|cancel-${reply.id}|" th:if="${#authentication.name} == ${reply.user.username}" th:onclick="|index.cancelReply(${reply.id})|"
                                    class="badge badge-dark badge-pill" style="display: none">취소</button>

                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div th:text="|작성자 : ${reply.user.username}|"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:replace="fragments.html :: modal"></div>
<!-- /Modal -->

<hr/>

<!-- footer -->
<div th:replace="fragments.html :: footer"></div>
<!-- /footer -->

<script>
    function goLogin() {
        if(confirm("로그인이 필요합니다.")){
            location.href = '/auth/login';
        }

    }
</script>
<script src="/js/board.js" th:inline="javascript"></script>
</body>
</html>