<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<nav th:fragment="nav" class="navbar navbar-expand-md navbar-light" >
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <i class="fa d-inline fa-lg fa-ship"></i>
        <b>Hanghae</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i>HOME</a> </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i>MYPAGE<br></a>
                </li>

                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
                    <a class="nav-link" href="/auth/logout"><i class="fa fa-fw fa-sign-in"></i>Logout</a>
                </li>
                <li class="nav-item" th:unless="${#authorization.expr('isAuthenticated()')}">
                    <a class="nav-link" href="/auth/login"><i class="fa fa-fw fa-sign-in"></i>Login</a>
                </li>
            <!--</ul> <a class="btn navbar-btn ml-md-2 text-dark btn-info">로그아웃</a>-->
        </div>
    </div>
</nav>

<div th:fragment="main" class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 mx-auto col-md-8 col-10">
                <h3 class="display-3">나의 항해 블로그</h3>
                <span th:if="${#authorization.expr('isAuthenticated()')}" class="mb-3 lead"
                      th:text="${#authentication.name}"></span>
                <span th:if="${#authorization.expr('isAuthenticated()')}"> 님 안녕하세요.</span>
                <p th:unless="${#authorization.expr('isAuthenticated()')}" class="mb-3 lead">항해99 5기</p>
                <p class="mb-4">항해 기간 중 생각난 것들을 간단하게 정리해보세요.</p>
                <!-- Button to Open the Modal -->
                <button th:if="${#authorization.expr('isAuthenticated()')}" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">
                    게시글 작성
                </button>
                <button th:unless="${#authorization.expr('isAuthenticated()')}" type="button" class="btn btn-outline-primary" onclick="goLogin()">
                    게시글 작성
                </button>



            </div>
        </div>
    </div>
</div>

<div th:fragment="modal" class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">게시글 작성</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="post-title" class="col-form-label">제목</label>
                    <input type="text" class="form-control" id="post-title">
                </div>
                <div class="form-group">
                    <label for="post-contents" class="col-form-label">내용</label>
                    <textarea class="form-control" id="post-contents"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-board-save">저장</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<footer th:fragment="footer">
    <div class="py-3" >
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="lead">Hello World</p>
                    <p><i class="fa fa-check"></i>010-2221-3333</p>
                    <p>😆인천 남구</p>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-facebook text-muted fa-2x"></i>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-twitter text-muted fa-2x"></i>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-instagram text-muted fa-2x"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <p>© Copyright 2022 byungmin - All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>