<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<nav th:fragment="nav" class="navbar navbar-expand-md navbar-light" >
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <i class="fa d-inline fa-lg fa-ship"></i>
        <b>Hanghae</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i>HOME</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i>USER<br></a> </li>
                <li class="nav-item"> <a class="nav-link" href="/auth/login"><i class="fa fa-fw fa-sign-in"></i>LogIn</a> </li>
            <!--</ul> <a class="btn navbar-btn ml-md-2 text-dark btn-info">로그아웃</a>-->
        </div>
    </div>
</nav>

<footer th:fragment="footer">
    <div class="py-3" >
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="lead">Hello World</p>
                    <p><i class="fa fa-check"></i>010-2221-3333</p>
                    <p>😆인천 남구</p>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-facebook text-muted fa-2x"></i>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-twitter text-muted fa-2x"></i>
                </div>
                <div class="col-4 col-md-1 align-self-center">
                    <i class="fa fa-fw fa-instagram text-muted fa-2x"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <p>© Copyright 2022 byungmin - All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>